/* Styles for the outer container */
.faq article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #edceab86;
  border-radius: 21px;
}
@media screen and (max-width: 640px) {
  .faq article {
    padding: 10px;
  }
}
/* Styles for the main content container */
/* article {
} */

/* Additional styles for the accordion layout */
.faq article {
  display: flex;
  flex-direction: column;
}

/* Styles for the heading */
.faq h1 {
  color: #edceab;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq h2 {
  color: #edceab;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* Styles for the paragraphs and spans */
.faq p,
.faq span {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

/* Styles for the list items */
.faq ul li {
  list-style: disc;
  margin-left: 20px;
}

/* Styles for the heading within the list */
.faq article div {
  color: #edceab;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

/* Styles for the blockquote and its content */
.faq blockquote,
.faq .default-note {
  background-color: #554544;
  border-left: 4px solid #ccd2db;
  padding: 15px;
  margin: 15px 0;
}

/* Styles for the blockquote text */
.faq .default-note span,
.faq .important-note span {
  font-style: italic;
  /* color: #666; */
}

/* Styles for the links within the content */
.faq a,
.faq a span {
  color: #ffcccc;
  text-decoration: none;
  border-bottom: 1px solid #ffcccc;
}

.faq a:hover,
.faq a span:hover {
  color: #ffcccc9f;
  border-bottom-color: #ffcccc9f;
}
